/* tailwind css styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.topSticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* change div background color */


.poemText{
  color: black;
 filter: invert(1);
 mix-blend-mode: difference;
}